---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Hr from "@components/Hr.astro";
import LinkButton from "@components/LinkButton.astro";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
---

<Layout>
  <Header />
  <main class="m-auto">
    <section>
      <div class="text-4xl font-semibold leading-tight sm:text-6xl">
        <h1>
          Maurizio Pireddu
          <br />
          loves{" "}
          <a href="/clean-code" class="italic text-cc underline"> clean code</a>
          <br />&{" "}
          <a href="/dirty-motorcycles" class="italic text-dm underline">
            dirty motorcycles
          </a>
        </h1>
      </div>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section class="pb-6 pt-12">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }
  </main>

  <Footer />
</Layout>
