---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${name.toLowerCase()}`}
    class={`${
      size === "sm" ? "text-sm" : "text-lg"
    } pr-2 group relative underline decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1`}
  >
    <span
      class="inline-flex items-center gap-x-1.5 rounded-full dark:bg-gray-400/10 dark:text-gray-400 bg-gray-100 px-1.5 py-0.5 font-medium text-gray-600"
    >
      <svg
        class="h-1.5 w-1.5 fill-gray-400"
        viewBox="0 0 6 6"
        aria-hidden="true"
      >
        <circle cx={3} cy={3} r={3}></circle>
      </svg>
      {name.toLowerCase()}
    </span>
  </a>
</li>
